h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem;
}

.btn-con {
    width: 100%;
    text-align: right;
}

.con {
    width: 100%;
}

.logo-l {
    width: 21rem;
}

.logo-m {
    width: 13rem;
}

.logo-s {
    width: 8rem;
}

.img {
    margin: 1rem;
}

#img-main {
    width: 100%;
    z-index: -1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 1.3rem;
    padding: 0.8rem;
}

li:hover {
    background-color: antiquewhite;
    font-weight: 600;
}

table {
    width: 95%;
    margin: 1.5rem;
}

caption {
    padding: 0.3;
    font-size: 1.9rem;
    text-align: left;
    border-bottom: 1px solid lightgray;
    background-color: #eee;
}

th {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    background-color: orange;
}

.tr {
    border-bottom: 1px solid lightgray;
}

td {
    padding: 0.3rem;
    text-align: center;
    font-size: 1.3rem;
}

.td_left {
    text-align: left;
}

tr:hover {
    background-color: antiquewhite;
    font-weight: 600;
}

.agree {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
}

.left {
    text-align: left;
}
