.modal {
    position: absolute;
    background-color: white;
    width: 20rem;
    height: 20rem;
    top: 30%;
    left: 35%;
    border: 1px solid gray;
    border-radius: 0.8rem;
    z-index: 1;
}

.modalHeader {
    font-size: 1.5rem;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 10%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.modalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    height: 80%;
    box-sizing: border-box;
}

.modalFooter {
    height: 10%;
}

#garde {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}
