.modal {
    position: absolute;
    background-color: white;
    width: 20rem;
    height: 20rem;
    top: 30%;
    left: 35%;
    border: 1px solid gray;
    border-radius: 0.8rem;
}

.modalHeader {
    font-size: 1.5rem;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    height: 10%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.modalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    height: 80%;
    box-sizing: border-box;
}

.modalFooter {
    height: 10%;
}
